#imgGitL, #imgGitR{
    width: 75px;
    height: 75px;
}

#presentacion, .tituloColaborador{
    text-align: center;
    vertical-align: middle;
}

#idContenedor{
    margin-left: 15px;
    margin-right: 15px;
}

.imgColaborador{
    margin-top: 10px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4px solid #4a88f4;
}

.tarjeta{
    text-align: center;
}