.chang  {
    font-family: Arial, sans-serif;
    line-height: 1.5;
  }
 
  .chang h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
 
  .chang h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
 
  .chang ul {
    list-style-type: disc;
    margin-bottom: 10px;
    margin-left: 20px;
  }
 
  .chang hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }
 
  .chang p {
    margin-bottom: 10px;
  }
  .chang img {
    float: left;
    margin-right: 10px;
  }
 
  /* Personalización de colores */
  .chang  {
    background-color: #f9f9f9;
    color: #333;
  }
 
  .chang  h1, h2 {
    color: #555;
  }
 
  .chang hr {
    border-color: #ccc;
  }
 

