.compartir {
    margin-top: 20px;    
  }
  
  .share-button a {
    display: inline-block;
    margin-right: 10px;
    padding: 8px 12px;
    background-color: #ffffff;
    color: black;
    text-decoration: none;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    height: auto;
    width: 40px;
    text-align: center;
  }
  .share-button{
  text-align: left;
  }
  .share-button a:hover {
    background-color: var(--HOVER-SHARE-color);
    color: var(--MAIN-TITLES-TEXT-color);
  }
#compartir-facebook{
  color: blue;
}
#compartir-whatsapp{
  color:green;
}
#compartir-telegram{
  color: lightskyblue;
}
#compartir-reddit{
  color: orangered;
}
#compartir-email{
  color: red;
}

h1{
  font-weight: 300;
}
@media(max-width: 760px){
  h1{
    font-size: 8vmin;
  }
}
@media(max-width: 760px){
  #foto{
          height: 8vmin;
          width: auto;
  }
}