.compartir{
  margin-top: 10px;
}

.share-button {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 10px;
  align-items: center;
}

.share-button a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.share-button a:hover {
  background-color: var(--HOVER-SHARE-color);
  color: var(--MAIN-TITLES-TEXT-color);
}

#compartir-facebook{ color: blue; }
#compartir-whatsapp{ color: green; }
#compartir-telegram{ color: lightskyblue; }
#compartir-reddit{ color: orangered; }
#compartir-email{ color: red; }
#compartir-instagram{ display: none; color: rgb(216, 32, 216); }

@media(max-width: 760px){
  h1{font-size: 8vmin;}
  #foto{height: 8vmin;width: auto;}
}

@media(width <= 915px){
  #compartir-instagram{
    display: inline-flex;
  }
}
