	#grid-container {
	    width: 100%;
	    height: auto;
	    display: grid;
	    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	    grid-template-rows: auto;
	}

	#card-container {
	    display: inline-block;
	    text-align: center;
	    margin-inline: 30px;
	}

	#card-container h6 {
	    padding-inline-end: 0rem;
	}

	#card-container .estilo img {
	    width: 190px;
	    border-radius: 100%;
	    border-color: chartreuse;
	}

	#card-container img {
	    width: 190px;
	    border-color: chartreuse;
	}